@import '../../css/index.scss';

.slider-container {
    color: #3B3B3B;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;  
    display: flex;
    padding: 4px 0px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.card-container {
    border-radius: 8px;
    padding: 0px 24px;
    box-sizing: border-box;
    padding-bottom: 36px;
    background-color: white;
    text-align: center;
    word-break: break-all;
    height: 100%;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
}

.card-container:hover {
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
}

.custom-col-10 {
    width: calc($col-10 + 24px) ;
}