$gutter: 12px;
$space: 24px;

// 288px for 12 columns with 24px space and 48px for 24px of padding on each side = 288+48= 336px
$col: calc(calc(min(100vw, 1440px) - 336px) / 12);
$col-1: $col;
$col-2: calc($col * 2 + $space);
$col-3: calc($col * 3 + $space * 2);
$col-4: calc($col * 4 + $space * 3);
$col-5: calc($col * 5 + $space * 4);
$col-6: calc($col * 6 + $space * 5);
$col-7: calc($col * 7 + $space * 6);
$col-8: calc($col * 8 + $space * 7);
$col-9: calc($col * 9 + $space * 8);
$col-10: calc($col * 10 + $space * 9);
$col-11: calc($col * 11 + $space * 10);
$col-12: calc($col * 12 + $space * 11);

.max-col-1 {
    width: calc($col-1 + 24px);
}
.max-col-2 {
    width: calc($col-2 + 24px);
}
.max-col-3 {
    width: calc($col-3 + 24px);
}
.max-col-4 {
    width: calc($col-4 + 24px);
}
.max-col-5 {
    width: calc($col-5 + 24px);
}
.max-col-6 {
    width: calc($col-6 + 24px);
}
.max-col-7 {
    width: calc($col-7 + 24px);
}
.max-col-8 {
    width: calc($col-8 + 24px);
}
.max-col-9 {
    width: calc($col-9 + 24px);
}
.max-col-10 {
    width: calc($col-10 + 24px);
}
.max-col-11 {
    width: calc($col-11 + 24px);
}
.max-col-12 {
    width: calc($col-12 + 24px);
}

.col-1 {
    width: $col-1;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-2 {
    width: $col-2;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-3 {
    width: $col-3;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-4 {
    width: $col-4;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-5 {
    width: $col-5;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-6 {
    width: $col-6;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-7 {
    width: $col-7;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-8 {
    width: $col-8;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-9 {
    width: $col-9;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-10 {
    width: $col-10;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-11 {
    width: $col-11;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-12 {
    width: $col-12;
    margin-left: $gutter;
    margin-right: $gutter;
}

.app-container {
    max-width: 1440px;
    margin: 0 auto;
}

.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}

.widget-container {
    padding-top: 12px;
    padding-bottom: 24px;
}

.gutter-only {
    margin-left: $gutter;
    margin-right: $gutter;
}

.box-shadow {
    // box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
}