$gutter: 8px;
$space: 16px;

// Columns
//384px for 24 gutters of 16 pixel each and 32px for 16px of padding on each side : 384+32 = 416
$col: calc(calc(100vw - 416px) / 24); 
$col-1: $col;
$col-2: calc($col * 2 + $space);
$col-3: calc($col * 3 + $space * 2);
$col-4: calc($col * 4 + $space * 3);
$col-5: calc($col * 5 + $space * 4);
$col-6: calc($col * 6 + $space * 5);
$col-7: calc($col * 7 + $space * 6);
$col-8: calc($col * 8 + $space * 7);
$col-9: calc($col * 9 + $space * 8);
$col-10: calc($col * 10 + $space * 9);
$col-11: calc($col * 11 + $space * 10);
$col-12: calc($col * 12 + $space * 11);
$col-13: calc($col * 13 + $space * 12);
$col-14: calc($col * 14 + $space * 13);
$col-15: calc($col * 15 + $space * 14);
$col-16: calc($col * 16 + $space * 15);
$col-17: calc($col * 17 + $space * 16);
$col-18: calc($col * 18 + $space * 17);
$col-19: calc($col * 19 + $space * 18);
$col-20: calc($col * 20 + $space * 19);
$col-21: calc($col * 21 + $space * 20);
$col-22: calc($col * 22 + $space * 21);
$col-23: calc($col * 23 + $space * 22);
$col-24: calc($col * 24 + $space * 23);


.col-1 {
    width: $col-1;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-2 {
    width: $col-2;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-3 {
    width: $col-3;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-4 {
    width: $col-4;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-5 {
    width: $col-5;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-6 {
    width: $col-6;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-7 {
    width: $col-7;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-8 {
    width: $col-8;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-9 {
    width: $col-9;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-10 {
    width: $col-10;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-11 {
    width: $col-11;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-12 {
    width: $col-12;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-13 {
    width: $col-13;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-14 {
    width: $col-14;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-15 {
    width: $col-15;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-16 {
    width: $col-16;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-17 {
    width: $col-17;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-8 {
    width: $col-18;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-19 {
    width: $col-19;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-20 {
    width: $col-20;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-21 {
    width: $col-21;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-22 {
    width: $col-22;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-23 {
    width: $col-23;
    margin-left: $gutter;
    margin-right: $gutter;
}

.col-24 {
    width: $col-24;
    margin-left: $gutter;
    margin-right: $gutter;
}

// Coloumns Container
.page-container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.marginTop8 { margin-top: 8px; }
.displayFlex { display: flex;}

//WIDGET
.widget-container {
    background-color: cadetblue;
    margin-top: 50px;
    height: 250px;
    border-radius: 4px;
    color: white;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
}
